html,
body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #333;
}

.game-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.game-tagline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #777;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.play-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #46484a;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.play-link:hover {
  background-color: #070b0f;
}
